.slogen-wrapper {
  font-family: owners-wide, sans-serif;
  font-size: 40px;
}


.slogen-green {
  color: #3dffbf;
  font-size: 40px;
  font-weight: 500;
  
}

.slogen-white {
  color: grey;
    font-size: 40px;
    font-weight: 400;
    font-family: owners-wide, sans-serif;
}

.slogen-white-small {
    color: grey;
      font-size: 40px;
      font-weight: 300;
      font-family: owners-wide, sans-serif;
}