body {
  font-family: owners-wide, sans-serif !important;
}

.slogen-wrapper {
  font-family: owners-wide, sans-serif;
  font-size: 40px;
  text-align: center;
}


.slogen-green {
  color: #3dffbf;
  font-weight: 500;
}

.slogen-white {
  color: grey;
  font-weight: 400;
}

.slogen-white-small {
    color: grey;
    font-weight: 300;
}